
<div class="bg h-screen flex justify-center items-center">
    <mat-card class="h-auto w-10/12">
        <div class="h-full gap-5 grid grid-cols-1 sm:grid-cols-2 place-content-center">
            <mat-card routerLink="/register/freelancer" class="flex flex-col justify-center cursor-pointer border-2 border-purple-600">
                <mat-card-title class="text-center text-purple-600">Freelancer</mat-card-title>
                <img class=" object-cover " src="../../../assets/freelancerRegister.jpg" alt="">
            </mat-card>
            <mat-card routerLink="/register/employer" class=" flex flex-col  justify-center cursor-pointer border-2 border-green-400">
                <mat-card-title class="text-center text-green-400">Employer</mat-card-title>
                <img class=" object-cover " src="../../../assets/employerImage.jpg" alt="">
            </mat-card>
        </div>
    </mat-card>
</div>

