

<mat-card class="w-96 px-5 mt-5 ml-5">
    <mat-card-header>
       <mat-card-title>{{offer.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="grid grid-cols-2 mb-1">
            <div>Specialty:</div>
            <div class="font-medium">{{offer.specialty.name}}</div>
        </div>
        <div class="grid grid-cols-2 mb-1">
            <div>Start date:</div>
            <div class="font-medium">{{offer.startDate | date:'shortDate'}}  </div>
        </div>
        <div class="grid grid-cols-2 mb-1">
            <div>End date:</div>
            <div class="font-medium">{{offer.endDate | date:'shortDate'}}  </div>
        </div>
        <div class="grid grid-cols-2 mb-2">
            <div>Payment amount:</div>
            <div class="font-medium">S/ {{offer.paymentAmount}}</div>
        </div>
        <p class="mb-5">{{offer.description | slice:0:100}}...</p>

        <div >
            <button class="bg-purple-500 rounded-md text-white px-5 py-2 mr-5">
                <span>Apply</span>
            </button>
            <button class="bg-blue-400 rounded-md text-white px-5 py-2">
                <span>See more</span>
            </button>
        </div>
    </mat-card-content>
</mat-card>

