
<div class="grid grid-cols-7 mt-10">
  <div class="lg:col-span-2 lg:flex flex-col hidden lg:visible">
    <h1 class="text-purple-500 text-4xl ml-10">Offer Postulations</h1>
  </div>
  <div class="col-span-5 col-start-2 lg:col-span-4">
    <input
      [(ngModel)] = "search"
      (input)="searchOffer()"
      type="search"
      class="w-full bg-purple-white shadow rounded border-0 p-3"
      placeholder="Search jobs">
  </div>
</div>
<div class="mt-2">
  <mat-divider></mat-divider>
</div>
<div class="grid grid-cols-7 mt-5">
  <div class="col-span-7 lg:col-span-4">
    <div class="md:grid flex flex-col items-center  md:grid-cols-1">
      <div class="mx-auto" *ngFor="let offer of offersFiltered">
        <app-offer-postulation-card [offer]="offer"></app-offer-postulation-card>
      </div>
    </div>
  </div>
</div>
